.dateList {
    &::-webkit-scrollbar {
        height: 0px;
    }
}

.dateselectInput {
    fieldset {
        border-left: 1px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    &:hover {
        fieldset {
            border-left: 2px !important;
        }
    }
}